<div style="height:25px;"></div>
<div class="divider"></div>
<app-status-line></app-status-line>
<div class="divider"></div>
<div id="images">
  <div id="i1" class="i1"><div class="i1"></div></div>
  <div id="i2" class="i2"><div class="i2"></div></div>
  <div id="i3" class="i3"><div class="i3"></div></div>
  <div id="i4" class="i4"><div class="i4"></div></div>
  <div id="i5" class="i5"><div class="i5"></div></div>
  <div id="i6" class="i6"><div class="i6"></div></div>
</div>
<div class="divider"></div>
<app-social-media></app-social-media>
