.videoBox {
  max-width: 640px;
}

.videoBox div {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

.videoBox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
