<h1 style="font-size:larger" i18n="@@Media">Media</h1>
<h4 i18n="@@RPG MO Trailer">RPG MO Trailer</h4>
<div class="g-ytsubscribe" data-channelid="UC1hWxzlkyFWB98FaK29CmYg" data-layout="default" data-theme="dark"
  data-count="hidden" style="height: 24px;"></div>
<br>
<div class="videoBox">
  <div><iframe src="//www.youtube.com/embed/pkCgLGT91MA" frameborder="0" allowfullscreen></iframe></div>
</div>
<br>
<app-screenshots-box></app-screenshots-box>
<app-maps-box></app-maps-box>
<h4><a href="https://mo.mo.ee/world_map_2021_march.png" target="_blank" i18n="@@World map">World map</a></h4>
<app-audio-player></app-audio-player>
<br>
<span i18n>Got fan art? Send it to support@mo.ee, don't forget to include your player name for the reward.</span>
<br>
<span i18n>Writing an article or interested in promotional materials? Send your wishes to support@mo.ee</span>
