.hs_container {
  .hs_menu {
    display: inline-block;
    margin-bottom: 20px;

    &.hidden2 .panel_layout,
    &.close .panel_layout {
      display: none;
    }

    /*&.close:hover .panel_layout {
      display: block;
    }*/

    .panel_layout {
      padding-bottom: 50px;
    }
  }

  .skill {
    background: #333;
    color: #fff;
    padding: 6px 9px;
    padding-left: 3px;
    border: 1px solid #333;
    box-shadow: 0 0 2px #141414 inset;
    margin-top: 2px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    transition: .3s;
    display: flex;
    align-items: center;

    .skill_icon {
      background: url(^assets/img/skill_level_up.png);
      width: 24px;
      height: 20px;
      background-size: cover;
      margin-right: 3px;
    }

    &.challenge {
      background: #344c68;
    }

    &:hover {
      background: #436c72;
      scale: 1.05;
    }

    &.active {
      background: #ffc75f;
      color: #000;
      text-shadow: 1px 1px #aaa;
      scale: 1.05;
    }

  }

  #player_panel {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;

    .skill {
      padding: 6px 9px;
    }
  }

  h4 {
    margin-bottom: 0;

    &:first-child {
      margin: 0;
    }
  }


  .panel_layout {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2px #141414 inset;
    background: #424242;
    border: 1px solid #333;
    padding: 6px;
    margin-top: 3px;

    .panel {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 6px
    }
  }

  .expand {
    cursor: pointer;
    width: fit-content;
    padding: 10px 30px;
    line-height: 18px;

    &::after {
      background: #fff;
      width: 12px;
      border-width: 0 5px 0 5px;
      clip-path: polygon(0% 20%, 50% 70%, 100% 20%);
      content: "";
      display: inline-block;
      height: 12px;
      margin: 0 -8px 0 8px;
    }
  }

}

.hs_table {
  text-align: center;
  margin-bottom: 50px;
  background: #424242;

  .name {
    color: #97d1d2;
    font-weight: 700;
  }

  .field_name td {
    color: #fff;
    font-weight: 700;
    background-color: #436c72;
  }

  td {
    padding: 6px;
  }

  tbody tr {
    transition: .2s;

    &:nth-child(odd) {
      background: #393939;
    }

    &:hover {
      background: #333;
      box-shadow: 0 0 2px #aaa;
      scale: 1.1;
    }

    &.highlight {
      background: #222;
      animation: twink 1s linear 3;
    }

    td:first-child {
      padding-left: 20px;
    }

    td:last-child {
      padding-right: 20px;
    }

  }

  .vs {
    font-weight: 900;
    color: gold;
  }

  &.compare tbody {

    td:nth-child(4),
    td:nth-child(5) {
      text-align: left;
    }

    td:nth-child(1),
    td:nth-child(2) {
      text-align: right;
    }

    .p2 td:nth-child(4),
    .p2 td:nth-child(5),
    .p1 td:nth-child(1),
    .p1 td:nth-child(2) {
      color: var(--hiscore-green);
    }

    .p2 td:nth-child(1),
    .p2 td:nth-child(2),
    .p1 td:nth-child(4),
    .p1 td:nth-child(5) {
      color: var(--hiscore-red);
    }

  }

  &.table_skill tbody,
  &.single tbody {

    td:nth-child(1),
    td:nth-child(4) {
      text-align: right;
    }

    td:nth-child(2),
    td:nth-child(5) {
      text-align: left;
    }
  }
}

@keyframes twink {

  0%,
  100% {
    background: orange;
  }

  50% {
    background: #000;
  }
}

.badge_base {
  background: url(^assets/img/level_up.png) no-repeat;
  width: 170px;
  height: 110px;
  margin: 0 auto;
  transform: scale(1.5);
  transform-origin: bottom center;

  .badge_deco {
    position: relative;
    background: url(^assets/img/level_up_120.gif) no-repeat;
    width: 110px;
    height: 118px;
    left: 30px;
    top: -10px;
  }

  .badge_skill {
    background: url(^assets/img/skill_level_up.png) no-repeat;
    width: 36px;
    height: 30px;
    left: 66px;
    top: -82px;
    position: relative;
  }

  .badge_label {
    width: 92px;
    height: 21px;
    display: inline-block;
    line-height: 21px;
    text-shadow: #fff 0 0 2px;
    font-weight: 700;
    color: #000;
    text-align: center;
    white-space: nowrap;
    position: relative;
    top: -80px;
    font-size: 12px;
  }
}
