.skill {
  background: #424242;
  padding: 6px;
  border: 1px solid #333;
  box-shadow: 0 0 2px #141414 inset;
  width: 90px;
  margin-top: 2px;
  line-height: 20px;
  position: relative;
  cursor: pointer;
  transition: .3s;

  &.challenge {
    background: #344c68;
  }

  &:hover {
    background: #436c72;
    scale: 1.05;
  }

  &.active {
    background: #333;
    scale: 1.05;
    box-shadow: 0 0 5px #fff;
    z-index: 2;
  }
}
