<div class="audio_box">
  <h4 class="ellipsis">
    <span>{{audioDatas[currentTrack].title}}</span> - <ng-container i18n="@@Music">Music</ng-container> by <a
      href="https://www.samanthafoster.net/" target="_blank">Samantha Foster</a>
  </h4>

  <div class="box_body">
    <img src="{{audioDatas[currentTrack].cover}}">
    <div class="list">
      <div *ngFor="let item of audioDatas; let i = index;" class="ellipsis" (click)="audioSet(i)"
        [ngClass]="{'point': i == currentTrack}"><span class="icon_play"></span><span
          class="audio_title">{{item.title}}</span></div>
    </div>
  </div>

  <div plyr style="width: 100%;" plyrType="audio" [plyrPlaysInline]="true" [plyrSources]="audioSources"
    (plyrInit)="player = $event"></div>
</div>
