<h1 style="font-size:larger" i18n="@@News">News</h1>
<br>
<br>
<div class="message_box" style="height:640px;">
  <img src="assets/img/twitter.png" alt="" style="position:absolute;left: -31px; top: -26px;" class="reflection">
  <div class="twitter-timeline twitter-timeline-rendered"
    style="display: flex; width: 589px; max-width: 100%; margin-top: 0px; margin-bottom: 0px;"><iframe
      id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class=""
      style="position: static; visibility: visible; width: 589px; height: 640px; display: block; flex-grow: 1;"
      title="Twitter Timeline"
      src="https://syndication.twitter.com/srv/timeline-profile/screen-name/RPGMO?dnt=false&amp;embedId=twitter-widget-0&amp;frame=false&amp;hideBorder=false&amp;hideFooter=false&amp;hideHeader=false&amp;hideScrollBar=false&amp;lang=en&amp;maxHeight=640px&amp;origin=https%3A%2F%2Fmo.ee%2Fnews.html&amp;sessionId=c298f739d43b796724dfe31a02ff4b5f5fea8be4&amp;showHeader=true&amp;showReplies=false&amp;theme=dark&amp;transparent=false&amp;widgetsVersion=1c23387b1f70c%3A1664388199485"></iframe>
  </div>
  <script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<br>
<br>
<div class="news" #content>
</div>
