@import 'style/normalize.css';
@import 'style/layout.scss';
@import 'style/animation.css';

a {
  color: #97d1d2;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
