@import 'style/normalize.css';
@import 'style/layout.scss';
@import 'style/animation.css';
@import 'style/news.scss';
@import 'style/welcome.scss';

a {
  color: #97d1d2;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.message_box {
  background: rgba(59, 59, 59, 0.7);
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 2px #141414 inset;
  margin: 0 32px;
  position: relative;
  width: -webkit-fill-available;
  display: flex;
  margin-top: 10px;

  &.col {
    flex-direction: column;
  }

  &.row {
    flex-direction: row;
  }

  .header {
    color: #97d1d2;
    font-weight: 700;
    text-shadow: 1px 1px 3px #000;
    border: 1px solid #707070;
    padding: 5px;
    padding-left: 30px;
    box-shadow: 0 0 2px #797979 inset;
  }
}

.discount {
  color: #BEEE11;
  background: #4c6b22;
  font-family: "Motiva Sans", Sans-serif;
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  line-height: 24px;
  padding: 0 4px;
  border-radius: 1px;
  text-shadow: none;
  margin: 0 6px;
}

.visible_link {
  background: rgba(0, 63, 133, 0.39);
  border: 1px solid #000;
  width: fit-content;
  text-align: center;
  padding: 5px;
}

.visible_link>a {
  color: #fdf3a8;
}

.center{
  text-align: center;
}

img {
  vertical-align: middle;
  border: 0;
}
